name: Auto Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  create_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: Get tag name
        run: echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
      - name: Convert .po to .mo files
        run: |
          sudo apt-get install -y gettext
          find languages -name "*.po" | while read -r po; do
            mo="${po%.po}.mo"
            msgfmt "$po" -o "$mo"
          done
      - name: Build release assets
        run: |
          mkdir -p dist
          ZIPNAME="Dirlotix-${TAG_NAME}.zip"
          TARNAME="Dirlotix-${TAG_NAME}.tar.gz"
          zip -rq "dist/$ZIPNAME" . -x ".git/*" ".github/*" "README.md" ".gitignore" "dist/*" "languages/**/*.po"
          tar --exclude='.git' --exclude='.github' --exclude='README.md' \
              --exclude='.gitignore' --exclude='dist/*' --exclude='languages/**/*.po' \
              -czf "dist/$TARNAME" .
      - name: Upload GitHub release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.TAG_NAME }}
          name: "${{ env.TAG_NAME }}"
          files: |
            dist/Dirlotix-${{ env.TAG_NAME }}.zip
            dist/Dirlotix-${{ env.TAG_NAME }}.tar.gz
