name: Sync Translations

on:
  push:
    paths-ignore:
      - ".github/**"
  pull_request:
    paths-ignore:
      - ".github/**"

permissions:
  contents: write

jobs:
  update-translations:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Check if Python or HTML files changed
        id: check_files
        run: |
          changed_files=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }} -- '*.py' '*.html' || true)
          echo "changed_files=$changed_files" >> $GITHUB_OUTPUT
      - name: Exit if no relevant file changed
        if: steps.check_files.outputs.changed_files == ''
        run: |
          echo "No Python or HTML files changed, skipping."
          exit 0
      - name: Save old hash if exists
        run: |
          [ -f languages/messages.pot ] && sha256sum languages/messages.pot | cut -d ' ' -f1 > old_pot_hash.txt || echo "" > old_pot_hash.txt
      - name: Install gettext
        run: sudo apt-get install -y gettext
      - name: Generate new .pot file
        run: |
          mkdir -p languages
          find . \( -name '*.py' -o -name '*.html' \) | xargs xgettext \
            --from-code=UTF-8 \
            --language=Python \
            --keyword=_ \
            --output=languages/messages.pot \
            --force-po
      - name: Compare .pot hash and update .po files if needed
        run: |
          new_hash=$(sha256sum languages/messages.pot | cut -d ' ' -f1)
          echo "$new_hash" > new_pot_hash.txt
          old_hash=$(cat old_pot_hash.txt)
          echo "Old: $old_hash"
          echo "New: $new_hash"
          if [ "$old_hash" = "$new_hash" ]; then
            echo "No update needed."
            exit 0
          fi
          echo "Updating .po files..."
          find languages -type f -path "*/LC_MESSAGES/messages.po" | while read -r po; do
            msgmerge --update --backup=none "$po" languages/messages.pot
          done
          echo "Resetting headers..."
          reset_header() {
            awk 'BEGIN{c=0;s=1}/^msgid /{c++; if(c==2)s=0} s==0{print}' "$1" > temp && \
            {
              echo 'msgid ""'
              echo 'msgstr ""'
              echo '"Content-Type: text/plain; charset=UTF-8\n"'
              echo '"Content-Transfer-Encoding: 8bit\n"'
            } | cat - temp > "$1" && rm -f temp
          }
          reset_header languages/messages.pot
          find languages -type f -path "*/LC_MESSAGES/messages.po" | while read -r po; do
            reset_header "$po"
          done
      - name: Commit and push if changed
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add languages/messages.pot */LC_MESSAGES/messages.po
          git commit -m "Update translations (.pot/.po files)"
          git push
